.search-container {
    $_this: &;

    display: flex;
    width: 100%;
    margin-bottom: 25px;
  
    &__search-field {
      border: 2px solid#ed1d55;
      border-radius: 10px;
      color: #3e3c4e;
      font-family: "Raleway",sans-serif;
      font-size: 1.25rem;
      transition: border 0.5s;
      margin-right: calc(45% - 24px);
      padding: 10px;
      width: 25%;
      min-width: 240px;

      &:focus,
      &:hover {
        border: 2px solid#b40031;
      }
    }
  
    &__button {
      color: #fff;
      font-family: "Raleway",sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
      background-color:#ed1d55;
      border: none;
      border-radius: 24px;
      padding: 12px 20px;
      text-align: center;
      transition: background-color 0.5s;
      white-space: normal;

      &--first {
        margin-right: 25px;
      }

      &:focus,
      &:hover {
        background-color: #b40031;
      }

      &:hover {
        cursor: pointer;
      }
    } 

    &__button-group {
      display: flex;
    }
}

@media (max-width: 1124px) {
  .search-container__search-field {
    margin-right: calc(15% - 24px);
  }
}

@media (max-width: 576px) {
  .search-container__search-field {
    width: 250px;
    min-width: 250px;
  }

  .search-container__button-group {
    margin-top: 25px;
  }

  .search-container {
    display: block;
    margin: auto;
    width: 90%;
  }
}